export PATH=/ebio/abt3_projects/small_projects/nyoungblut/dev/data_analysis_workshops/miniconda3/bin:$PATH
#export PATH=/ebio/abt3_projects/small_projects/nyoungblut/dev/data_analysis_workshops/anaconda3/bin:$PATH

#use conda py3
#use conda py2
